<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Favorite Books</title>
</head>
<body>
    <div class="top">
        <h1>Welcome {{ this.first_name }}!</h1>
        <div class="right">
            <a href="/logout"><button>Logout</button></a>
        </div>
    </div>
    <div class="wrapper">
        <div class="left">
            <h1>Add a Favorite Book</h1>
            <form action="/books/add" method="post">
                {% csrf_token %}
                <label for="title">Title :</label>
                <input type="text" name="title">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="right">
            {% if books %}
                {% for book in books %}
                    {% if book not in mybooks %}
                        <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
                        <p>({{book.uploaded_by.first_name}}  {{book.uploaded_by.last_name}})</p>
                        {% for user in book.users_who_like.all  %}
                            {% if this.id == user.id and book in this.liked_books.all %}
                                <a href="/books/{{book.id}}/remove">Un-Favorite</a>
                            {% elif this not in book.users_who_like.all %}
                                <a href="/books/{{book.id}}/like">Add to Favorites</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <p><a href="/books/{{book.id}}/edit">{{book.title}}</a></p>
                    <p>({{book.uploaded_by.first_name}}  {{book.uploaded_by.last_name}})</p>
                        <p>this is one of your favorites</p> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>