<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Author Details</title>
</head>
<body class="book-body">
    <span class="book-span">
        <label for="det-id">ID:</label>
        <h4 class="det-id">{{author.id}}</h4>
    </span>
    <span class="book-span">
        <label for="det-desc">Notes:</label>
        <p class="det-desc">{{ author.notes }}</p>
    </span>
    <span class="authors-span">
        <p>Books</p>
        <ul>
            {% for book in author.books.all %}
            <li>
                {{ book.title }}
            </li>
            {% endfor %}
        </ul>

        <form action="/add_book_to_author" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{author.id}}" name="author-id">

            <select name="book-id" id="book-author">
                {% for book in books %}
                {% if book not in author.books.all %}
                <option value="{{book.id}}"> {{book.title}} </option>
                {% endif %}
                {% endfor %}
            </select>
            
            <button type="submit">Add</button>   
        </form>

    </span>
</body>
</html>