body{
    display: flex;
    justify-content: center;
}
.container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.reg{
    display: flex;
    flex-direction: column;
}
.login{
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
.green{
    color: lime;
}